<app-header></app-header>
<app-navbar></app-navbar>
<body>
<div class="container"> 
    <h1>Películas</h1>
    <div class="row justify-content-md-center">
        <form id = "agregar" class="col-3" action="">
            <h4>Agregar Película</h4>
            <br>
              <br>
            <button [routerLink]='["/peliculas-agregar"]' id="btn-agregar" > Agregar </button>
            <br>
          </form>
        <section id ="gestionar" class="col">
            <h4>Gestion de Películas</h4>
            <br>
            <div class="container">
                <div class="row">
                    <div class="input-group">
                        <input type="email" class="form-control" id="exampleInputPassword1 Nombre" placeholder="Nombre Original"  name = "1" >
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Nombre"  name = "1" >
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Duración"  name = "1" >
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Director"  name = "1" >
                        <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Clasificación"  name = "1" >
                        <textarea  style="height:20px;" class="form-control" aria-label="With textarea" placeholder="Protagonistas"></textarea>            
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <button id="btn-editar" > Editar </button>
                      </div>
                </div>
                <br>
                    <p *ngIf="!(peliculas && peliculas.length)">
                        No existen registros para mostrar
                    </p>
                    <table class="table" *ngIf="peliculas && peliculas.length">
                        <thead>
                            <tr>
                                <th>Nombre Original</th>
                                <th>Nombre</th>
                                <th>Duración</th>
                                <th>Director</th>
                                <th>Clasificación</th>
                                <th>Protagonistas</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pelicula of peliculas">
                                <td>{{pelicula.pnombre_original}}</td>
                                <td>{{pelicula.pnombre}}</td>
                                <td>{{pelicula.pduracion}}</td>
                                <td>{{pelicula.director}}</td>
                                <td>{{pelicula.clasificacion}}</td>
                                <td>{{pelicula.protagonistas}}</td>
                                <td>{{pelicula.pimagen}}</td>
                                <td>
                                    <button class="btn btn-primary" [routerLink]='["/peliculas-editar/" + pelicula.pnombre_original]'>Editar</button>
                                    <button class ="btn btn-danger" (click)="delete(pelicula)">Borrar</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                <!--
                <div class="input-group">   
                    <p style="margin-right: 30px;">Nombre Original</p>
                    <p style="margin-right: 30px;">Nombre</p>
                    <p style="margin-right: 30px;">Duración</p>
                    <p style="margin-right: 30px;">Director</p>
                    <p style="margin-right: 30px;">Clasificación</p>
                    <p style="margin-right: 35px;">Protoganistas</p>
                    <p style="margin-right: 30px;">Portada</p>
                </div>
                -->
                <br>

            </div>
            <br>
        </section>
    </div>
</div>
</body>