<app-header></app-header>
<section id = "box">
    <div class="container">
        <h6>Seleccione su tipo de usuario</h6>
        <br>
        <div class="row row-cols-2">
            <section class="col">
                <br>
                <button class = "btn-vistas" routerLink = "/login" (click) = "setUserType(0)"> Cliente </button>
            </section>
            <section class="col">
                <br>
                <button class = "btn-vistas" routerLink = "/login" (click) = "setUserType(1)"> Admin </button>
            </section>

        </div>
    </div>
</section>