<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<app-clientinfo></app-clientinfo>
<body>
    <section id = "seleccionar" >
        <h4>Gracias por confiar en el servicio de CineTec</h4>
        <h6>Se ha generado una factura con su compra </h6>
        <a >aquí</a>
        <br>
        <br>
        <p>Por favor seleccione una de las siguientes opciones</p>
        <p>Seleccione Continuar para regresar a la ventana de seleccion de Cinema</p>
        <p>Seleccione Cerrar Sesión para salir de la aplicación</p>
        <div class = "input-group">
            <a href="https://localhost:5001/api/clientes/pdf">
                <input type="button" value="Obtener factura" />
             </a>             
            <button class = "btn-mover" routerLink="/login">Cerrar Sesión</button>
        </div>
    </section>
</body>